@import "tailwindcss";
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Vazirmatn", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --header-height: 3em;
  --page--height: calc(100vh - calc(var(--spacing) * 4));
  --video--height: calc(var(--page--height) - calc(var(--spacing) * 24));

  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;
}

@layer base {
  button,
  [role="button"] {
    cursor: pointer;
  }
}
@source "../node_modules/flowbite-svelte/dist";

html,
body {
  @apply bg-white dark:bg-gray-950;
}
